
CardPane.category- {
    -fx-border-color: gray;
    -fx-background-color: #AAAAAA;
}

CardPane.category-work {
    -fx-border-color: blue;
    -fx-background-color: #AAAAFF;
}

CardPane.category-school {
    -fx-border-color: green;
    -fx-background-color: #AAFFAA;
}

CardPane.category-family {
    -fx-border-color: red;
    -fx-background-color: #FFAAAA;
}
